<% provide(:title, "Help") %>
<div>
    <p>＜このアプリについて＞</p>
    <p>主な機能はTwitterに似ており、つぶやきを投稿したり、他の登録ユーザをフォローしたりすることができます。</p>
    
    <p>＜機能一覧＞</p>
    <p>・ログイン/ログアウト</p>
    <p>・パスワードの不可逆暗号化</p>
    <p>・文章投稿</p>
    <p>・フォロー/フォロワー</p>
    <p>・プロフィール変更</p>
    
    
</div>


